<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chat SyTW</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Rocío Rodríguez Morín y Sem Ramos Herrera">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/chat.css" rel="stylesheet"> 
    <link href="css/grayscale.css" rel="stylesheet">
  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <header class="intro">
        <div class="intro-body">
<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-md-8'>
      <div class='panel panel-primary'>
        <div class='panel-heading'>
          <h4>Sala de chat</h4>
        </div>
        <div class='panel-body'>
          <div class='box' id='chat'></div>
        </div>
        <div class='panel-footer'>
 <div class="input-group">
 <input id="text" type="text" class="form-control input-sm" placeholder="Escribe tu mensaje aquí..." autofocus/>
 <span class="input-group-btn">
 <button class="button btn btn-lg btn-primary btn-sm" id="btn-chat">
 Enviar</button>
 </span>
 </div>        </div>
      </div>
    </div>
    <div class='col-xs-12 col-md-4'>
      <div class='panel panel-primary'>
        <div class='panel-heading'>
          <h4>Usuarios Conectados</h4>
        </div>
        <div class='panel-body'>
<ul class="media-list">
 <% if session[:alias] != nil %>
 <% @listaUsuarios.each do |usuario| %>
 <li class="media">
 <div class="media-body">
 <div class="media">
 <a class="pull-left" href="#">
 <img class="media-object img-circle" style="max-height:50px;" src="/img/default.png" />
 </a>
 <div class="media-body" >
 <h3><%= usuario %> </h3>
 <small class="text-muted"><%= t=Time.now %></small>
 </div>
 </div>
 </div>
 </li>
<% end %> <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
 <a class='button btn btn-lg btn-primary btn-block btn-sm' href='/logout' id='logout'>Salir</a>
        </div>
    </header>
    <div id="map"></div>
    <footer>
        <div class="container text-center">
            <p>Copyright Sem Ramos Herrera y Rocío Rodríguez Morín - Chat SyTW 2014</p>
        </div>
    </footer>
    <script src="js/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src= "/js/user.js"></script>
    <script src= "/js/chat.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
  </body>
</html>

