<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Chat - SyTW</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/chat.css" rel="stylesheet">
                <link href="/css/aparienciacss" rel="stylesheet">
		<script src="/js/ie-emulation-modes-warning.js"></script>
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
			</div>
				<div id="navbar" class="navbar-main navbar-collapse collapse">
					<div class="nav navbar-nav navbar-right">
						<div class="v-user">
							<% if session[:alias] == nil %>
								<form class='form-inline' action='/registro' method='post' role='form'>
									<div class="form-group">
										<input id="nombre" name="nombre" type="text" class="form-control" placeholder="Introduzca su nickname" autofocus>
										<button id ="registro" type="submit" class="button btn btn-lg btn-primary btn-sm">Enviar</button>
									</div>
								</form>
							<% else %>
								<form action="/logout" method="get"><button class="button btn btn-lg btn-primary btn-sm" type="submit">Salir</button></form>									
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div class="container v-center">
			<div class="row">
				<% if session[:error]%>
					<div class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Ya hay un usuario con ese nombre</strong>
					</div>
				<% end %>
				<div class="col-xs-12 col-md-8">
					<div class="panel panel-primary">
						<div class="panel-heading">
							Sala de chat
						</div>
						<div class="panel-body">
							<ul class="chat">
								<div id="chat"></div>
							</ul>
						</div>
					</div>
				<% if session[:alias] != nil %>
					<div class="panel-footer">
						<div class="input-group">
							<input id="text" type="text" class="form-control input-sm" placeholder="Escribe tu mensaje aquí..." autofocus/>
							<span class="input-group-btn">
								<button class="button btn btn-lg btn-primary btn-sm" name = "btn-chat" id="btn-chat">Enviar</button>
							</span>
						</div>
					</div>
				<% end %>
			</div> 
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">Usuarios</div>
						<div class="panel-body">
							<ul class="media-list">
								<% if session[:alias] != nil %>
									<div id="usuariosl"></div>
								<% end %>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="/js/ie10-viewport-bug-workaround.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src= "js/chat.js"></script>
	</body>
</html>
