<html>
  <head>
    <style>
      #text{width:100%; font-size: 15px; padding: 5px; display: block;}
    </style>
  </head>
  <body>
    <input id="text" placeholder="Write then press Enter." autofocus />
    <div id="chat"></div>
    <div id="user"></div>
    <form action="/logout" method="get">
      <button type="submit">Salir</button>
    </form>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src= "/js/chat.js"></script>
    <script src= "/js/user.js"></script>
  </body>
</html>

