<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chat SyTW</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Rocío Rodríguez Morín y Sem Ramos Herrera">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/grayscale.css" rel="stylesheet">
    <link href="font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="signin.css" rel="stylesheet">
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                       <input id="text" placeholder="Write then press Enter." autofocus />
                           <div id="chat"></div>
                                <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
                                 <script src= "/js/chat.js"></script>
                                    <form action="/logout" method="get">
                                        <button type="submit">Salir</button>
                                    </form>
                               </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="map"></div>
    <footer>
        <div class="container text-center">
            <p>Copyright Sem Ramos Herrera y Rocío Rodríguez Morín - Chat SyTW 2014</p>
        </div>
    </footer>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
  </body>
</html>

<html>
  <head>
    <style>
      #text{width:100%; font-size: 15px; padding: 5px; display: block;}
    </style>
  </head>
  <body>

  </body>
</html>

